@page
@model RazorPages.Pages.AdminModel
@{
}
<h1>Welcome Admin</h1>

<header>
    <nav>
        <ul>
            <li><a href="/Customers">Manage Customer</a></li>
            <li><a href="/Rooms">Manage Room Information</a></li>
            <li><a href="/BookingReservations">Manage Booking Reservation</a></li>
            <li><a href="/Report/Statistic">Report Statistic</a></li>
        </ul>
    </nav>
</header>
