@page
@model RazorPages.Pages.CustomerModel
@{
}

<h1>Welcome @Model.Customer.CustomerFullName</h1>
<header>
    <nav>
        <ul>
            <li><a href="/Register">Register</a></li>
            <li><a href="/Order/Create">Create Order</a></li>
            <li><a href="ManageProfile">Manage Profile</a></li>
            <li><a href="ViewBookingReservation">Booking History</a></li>
        </ul>
    </nav>
</header>
